<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_name %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id, id: :service_company_id %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.number_field :company_name, id: :service_company_name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :service_status %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :service_position %>
  </div>

  <div class="field">
    <%= form.label :whoiam %>
    <%= form.text_area :whoiam, id: :service_whoiam %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
